Package: com.jb.lookin
Name: lookin
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: yuchuanfeng
Author: yuchuanfeng
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
